@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import '~normalize.css';

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: Reef;
  src: url('reef-webfont.woff'), url('reef-webfont.woff') format('woff');
} */

// Variables

$bg-color: #282c34;
$primary-color: #61dafb;
$medium-font-size: calc(10px + 2vmin);

$spinner-size: calc(60px + 2vmin);
$task-height: 10vh;
$task-check-size: 20px;
$add-task-size: 50px;

// Mixins

/* @use 'sass:map';
$breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);
@mixin media-break($bp) {
  @media (min-width: map.get($breakpoints, $bp)) {
    @content;
  }
} */
@mixin media-break-sm {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin media-break-md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin media-break-lg {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin media-break-xl {
  @media (min-width: 1200px) {
    @content;
  }
}

html {
  box-sizing: border-box;
  background-color: $bg-color;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
}

.App {
  // height: 100vh;
  overflow-x: hidden;

  font-size: $medium-font-size;
  font-family: 'Quicksand', sans-serif;
  color: white;
  user-select: none;
  
  .title {
    padding: 10px 0;

    font-size: calc(26px + 2vmin);
    font-weight: normal;
    text-align: center;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  opacity: 0.6;

  position: absolute;
  top: 0;

  .spinner {
    width: $spinner-size;
    height: $spinner-size;
    background-color: $primary-color;
    border-radius: 50%;

    position: relative;
    
    animation: spinner infinite 0.5s linear;
    
    &::before {
      content: '';
      @extend .spinner;
      transform: scale(0.75);
      background-color: $bg-color;
      // background-color: red;

      position: absolute;
      animation: none;
    }
    &::after {
      content: '';
      @extend .spinner::before;
      transform: scale(0.6, 0.4);
      // background-color: green;
      border-radius: 0;
      margin-top: 35%;
    }
    
    @keyframes spinner {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.tasks {
  .task-list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .task {
    &,
    &--completed {
      display: flex;
      align-items: center;

      width: 100%;
      height: $task-height;
      min-height: 50px;
      // margin: 0 10px;
      padding: 0 10px;
      background-color: $bg-color;

      position: relative;
      top: 0;
      left: 0;

      &__check {
        display: flex;
        align-items: center;

        // background-color: $primary-color;
        padding: 10px;

        font-size: calc(12px + 2vmin);
        color: lighten($bg-color, 30%);

        svg {
          width: $task-check-size;
          height: $task-check-size;
        }
      }

      &:hover .delete-task {
        opacity: 1;
      }

      &__before {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        // background-color: $primary-color;
        // opacity: 0.6;
        // background-color: desaturate($primary-color, 50%);
        background-color: darken($primary-color, 30%);
        
        position: absolute;
        left: -100%;

        svg {
          display: block;
          width: $task-check-size;
          height: $task-check-size;
          margin-right: 30px;
          margin-left: auto;
          color: $bg-color;
        }
      }
      &__after {
        @extend .task__before;
        background-color: lighten($bg-color, 30%);
        left: 100%;

        svg {
          margin-right: auto;
          margin-left: 30px;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid lighten($bg-color, 10%);
      }
    }

    &--completed {
      &__check {
        color: darken($primary-color, 40%);
        // color: $primary-color;
        // opacity: 0.6;
        // color: darken(desaturate($primary-color, 50%), 30%);
      }
      &__content {
        text-decoration: line-through;
      }
    }
  }

  .task-editor {
    &,
    &--editing,
    &--expanded {
      @extend .task;
      background-color: lighten($bg-color, 20%);
      overflow: hidden;
      transition-duration: 0.3s;

      &__drag-handle {
        @extend .task__check;

        svg {
          color: $bg-color;
        }
      }

      input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid lighten($bg-color, 10%);

        color: white;
      }
    }

    & {
      height: 0;
      min-height: 0;
      border-width: 0px !important;
    }
  }

  .delete-task {
    @extend .task__check;
    display: none;
    opacity: 0;
    margin-left: auto;
    transition-duration: 0.5s;

    @include media-break-lg() {
      display: flex;
    }
  }

  .show-completed {
    @extend .task;
    padding: 0 20px;

    &__toggler {
      float: right;
    }
  }
}

.navbar {
  width: 100%;
  height: 0;

  position: fixed;
  bottom: 0;

  &__add-task {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $add-task-size;
    height: $add-task-size;
    background-color: lighten($bg-color, 10%);
    border-radius: 50%;
    margin: auto;
    margin-top: -$add-task-size - 20px;

    font-size: $add-task-size / 1.4;
    color: $primary-color;

    transition-duration: 0.3s;

    @include media-break-lg {
      &:hover {
        transform: scale(1.1);
      }
    }

    &:active {
      transform: scale(0.9);
      background-color: lighten($bg-color, 5%);
      transition-duration: 0s;
    }
  }
}
